/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
body { margin: 0; }
@font-face {
  font-family: "symbols";
  src: url("assets/symbols.woff") format('woff');
}
.symbol{
  font-family: symbols;
}

.mat-table{
  width: 100%;
}

.filter{
  margin-left: 20px;
  margin-top: 10px;
}
